<appSettings>
  <!--<add key="CS" value="Data Source=PHANTOM;Initial Catalog=Kiosco;Integrated Security=True" />-->
  <add key="CS" value="Data Source=SQL5004.site4now.net;Initial Catalog=DB_A392C3_Kiosco;User Id=DB_A392C3_Kiosco_admin;Password=ZergRosa81;" />
  <!--<add key="CS" value="Data Source=IDEAPAD320;Initial Catalog=Kiosco;Integrated Security=True" />-->
  <!--<add key="CS" value="Data Source=NOTEBOOK;Initial Catalog=Kiosco;Integrated Security=True"/>-->
  <add key="ClientSettingsProvider.ServiceUri" value="" />
</appSettings>