html, body {
    padding: 0;
    margin: 0;
}

body {
    color: #325050;
    background: #fff;
    font-family: 'Libre Baskerville', sans-serif;
    font-size: 70%;
}

a {
    color: #0d8ba1;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    text-decoration: none;
}

    a:visited {
        color: #1a5952;
    }

    a:hover, a:focus {
        color: #0599c2;
        text-decoration: underline;
    }

h1, h2 {
    /*padding: 0 10%;*/
    margin: 0;
    color: #325050;
    font-weight: normal;
}

h1 {
    padding-top: 0;
    padding-bottom: 5px;
    border-bottom: none;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 3.2em;
    text-transform: uppercase;
}
h2 {
  display: block;
  padding-top: 5px;
  padding-bottom: 30px;
  border-top: none;
  /*color: rgba(255,255,255,0.6);*/
  font-size: 1.6em;
  font-style: italic;
}
h3 {
  margin: 2em 0 0 0;
  color: #2e484c;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 1.8em;
  font-weight: normal;
  text-transform: uppercase;
}
p {
  margin: 0.75em 0;
  line-height: 2;
}